<div class="card">
  <div class="card-header">
    <div class="card style2">
         <b>Topic:</b>
         {{title}} <br>
    </div>
    <div class="card style2">
        <b> Description:</b> 
   {{description}}
    </div>

  </div>
  <div class="card-body">

    {{#each answer}}
      <div class="card style1">
                {{answer}}
      </div>
      {{/each}}
   <br>
                    <textarea class="form-control" id="answer{{id}}"  rows="10" placeholder="Please type your replay here..." required></textarea>

 
    <br>
    <button class="btn btn-primary" data-id="{{id}}" id="replayId">Replay</button>
  </div>
  <div class="card-footer text-muted text-center">
    Thank you for your questions!..
  </div>
</div>
 