<div class="row">
    <div class="col-6">
<h1 class="text-center">Our Courses</h1>
</div>
</div>
<div class="row">



    {{!-- <div class="col-8"> --}}
        

       
            {{#each course}}
        <div class="col-6">
           
            <div class="card horizontal">
                <div class="card-image">
                    <img style="width: 200px" src="/upload-images/{{dataValues.course_image}}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p class="">{{dataValues.course_description}}</p>
                    </div>
                    <p class="card-text center"><small class="text-muted">Created at {{dataValues.createdAt}}</small></p>
                    <div class="card-action text-center" style="width: 300px;
    margin: auto;text-align:center">
                        <a style="text-center" href="/student-course/{{dataValues.cid}}">{{dataValues.course_title}}</a>
                    </div>
                </div>
            </div>
           

        </div>
         {{/each}}
          

          
        




    </div>
    


</div>
</div>