<div class="row" style="height: 600px;
    overflow: auto;">
    <div class="col-2 my-side-bar">



        <br>
        <ul class="collapsible">
            {{#each course.weekList}}
            <li>
                <div class="collapsible-header"><i class="material-icons">book</i> Week {{week}}</div>
                {{#each chapter}}
                <div class="collapsible-body"><span><a
                            href="/student-course-display/{{../../course.cid}}/{{../week}}/{{this}}"> Chapter {{this}}
                        </a></span></div>
                {{/each}}
            </li>
            {{/each}}
        </ul>



    </div>

    <div class="col-10"
    style="background: steelblue">
        
        <div class="card">
            <div class="card-panel" style="border-radius: 10px; background:aliceblue">
                <h1 class="text-center black-text">{{{course.section.0.chapter_title}}}</h1>
                
                 {{#each course.section}}
                 <h4 class="black-text">{{order_in_chapter}}.{{title}}</h4>
                <p>{{material}}</p>

                <div class="card-image waves-effect waves-block waves-light" style="width:fit-content" >
                    <img class="activator" width="400px" height="400px" src="/upload-images/{{image_url}}">
                </div>
                {{/each}}

            </div>
        </div>

    </div>

</div>